[Dd]ebug/
[Rr]elease/
ipch/
*.opensdf
*.sdf
*.suo
*.exe
*.ilk
*.pdb
build/
.clang-format
.vscode/c_cpp_properties.json
test/img/*_targets
test/cal/
test/res/*
.vscode/tasks.json
test/parametersRun1/*
test2/*
